body {
    background-color: aliceblue;
}

h1, h2 {
    font-family: arial, sans-serif;
    vertical-align: middle;
    word-spacing: inherit;
}

table {
    font-family: arial, sans-serif;
    font-size: 22px;
    border-collapse: separate;
    width: 70%;
}

th {
    border: 1px solid #dddddd;
    background-color: #dddddd;
    text-align: center;
    padding: 8px;
}

td {
    background-color: white;
    text-align: center;
}

